$mainborder: 1px solid #bbb;

body {
  background: #f2f2f2;
}

.colRows {
  /* width: 200px; */
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 0 auto;
}

.chBox {
  width: 50px;
  height: 50px;
  font-size: 3em;
  text-align: center;
  border: $mainborder;
  padding: 5px;
  background: white;
}
.o::before {
  content: "○";
  color: blue;
}
.x::after {
  content: "×";
  color: green;
}

.stateStr {
  font-family: sans-serif;
  text-align: center;
  font-size: 21px;
  border: $mainborder;
  &::after {
    content: " Still playing";
    font-weight: bold;
  }
}
